<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Gustavo Nascimento">
    <meta name="description" content="Page to convert youtube playlists to spotify playlists">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <title>Youtube Playlist to Spotify </title>
</head>

<body>
    <input type="text" hidden value=<%=user_token%> />
    <input type="text" hidden value=<%=user_google_email%> />
    <div class="header">
        <h1>Youtube playlist to spotify converter</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col youtube">
                <div class="title">
                    <h2>Login to your google account</h2>
                </div>
                <form method="GET" action="/gl">
                    <button type="submit" class="bt_login" id="gl">Login</button>
                </form>
                <div class="pl_content">
                    <label class="logged">Logged in as: </label>
                    <label class="yt_user"><%=google_user%></label><br />
                    <label class="subtitle" id="yt_pl_amount">Available playlists: <%=yt_pl%></label><br />
                    <select class="dropdown" id="yt_pl">
                        <option>...</option>
                    </select>
                    <label class="subtitle" id="yt_songs_amount">Available songs: <%=yt_songs%></label><br />
                    <div class="songs">
                        <ul id="yt_songs">
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col spotify">
                <div class="title">
                    <h2>Login to your spotify account</h2>
                </div>
                <form method="GET" action="/sl">
                    <button type="submit" class="bt_login" id="sl">Login</button>
                </form>
                <div class="pl_content">
                    <label class="logged">Logged in as: </label>
                    <label class="yt_user"><%=spotify_user%></label><br />
                    <label class="subtitle" id="sp_pl_amount">Available playlists: <%=sp_pl%></label><br />
                    <select class="dropdown" id="sp_pl">
                        <option>...</option>
                    </select>
                    <label class="subtitle" id="sp_songs_amount">Available songs: <%=sp_songs%></label><br />
                    <div class="songs">
                        <ul id="sp_songs">
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                            <li class="song"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mergers">
            <div class="col">
                <button class="merge" id="yt_sp">Youtube to Spotify</button>
                <button class="merge" id="sp_yt">Spotify to Youtube</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="assets/js/client.js"></script>
</body>
</html>